ACCOUNT_ID=TU_ACCOUNT_ID # Sacarlo de: AWS Console -> Arriba a la derecha (menú desplegable) -> "Account ID" (12 dígitos numéricos sin guiones).
AWS_REGION=eu-central-1

# --- Bases de Datos Locales ---
DB_USER=root
DB_PASSWORD=root

# --- URLs de SQS Locales ---
SQS_ALPINISTA_URL=https://sqs.eu-central-1.amazonaws.com/TU_ACCOUNT_ID/weather_alpinista
SQS_CICLISTA_URL=https://sqs.eu-central-1.amazonaws.com/TU_ACCOUNT_ID/weather_ciclista
SQS_DRON_URL=https://sqs.eu-central-1.amazonaws.com/TU_ACCOUNT_ID/weather_dron
